/* html, body { overflow: hidden; } */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html {
    background: #ec3750;
    font-family: 'Inter', sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: 0;
}


.section {
    pointer-events: none;
    position: relative;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.section h1 {
    color: antiquewhite;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: -0.05em;
}

.section h2 {
    color: aquamarine;
    font-size: 1rem;
    font-weight: 150;
    letter-spacing: -0.03em;
    pointer-events: all;
    align-self: flex-start;
}
.section p {
    color: rgb(219, 255, 189);
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: -0.03em;
    pointer-events: all;
    align-self: flex-start;
}

.logo {
    position: fixed;
    top: 24px;
    left: 24px;
    width: 64px;
    height: 64px;
    z-index: 100;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}


.logo img {
    width: 150%;
    height: 150%;
    object-fit: contain;
}

section div a:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.scroll {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

}

.hidden {
    display: none;
}

.link-heading {
    align-self: center;
    font-size: xx-large;
}

.link {
    position: relative;
    color: #6c0286;
    font-weight: 700;
    text-decoration: none;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.08em;
    width: 100%;
    height: 0.08em;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}