/* html, body { overflow: hidden; } */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html {
    background: #ec3750;
    font-family: 'Inter', sans-serif;
}

body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.fade-out {
  opacity: 0;
}


#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 50, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #8492a6;
}

::-webkit-scrollbar-thumb {
    background: #ec3750;
}

::-webkit-scrollbar-thumb:hover {
    background: #ec3750;
    border-radius: 10px;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: 0;
}

.content-container {
    width: 80%;
    height: calc(100vh - 50px);
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
}

.section {
    pointer-events: none;
    position: relative;
    min-height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}

.section h1 {
    color: antiquewhite;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: -0.05em;
}

.section h2 {
    color: aquamarine;
    font-size: 1.5rem;
    font-weight: 150;
    letter-spacing: -0.03em;
    pointer-events: all;
    align-self: flex-start;
}
.section p {
    color: rgb(219, 255, 189);
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: -0.03em;
    pointer-events: all;
    align-self: flex-start;
}

.logo {
    position: fixed;
    top: 24px;
    left: 24px;
    width: 112px;
    height: 112px;
    z-index: 100;
    transition: transform 0.3s ease;
    outline: 2px solid #000;
    outline-offset: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(14, 189, 72);
}

.logo:hover {
    transform: scale(1.1);
}


.logo img {
    width: 140%;
    height: 140%;
    object-fit: contain;
}

/* .page-link-left {
    color: #6c0286;
    font-weight: 1000;
    font-size: x-large;
    box-shadow: 2px 5px #028639;
}

.page-link-left:hover {
    color: #028639;
    font-weight: 1000;
    font-size: x-large;
    box-shadow: 5px 10px #6c0286;
}

.page-link-right {
    color: #6c0286;
    font-weight: 1000;
    font-size: x-large;
    box-shadow: -2px 5px #028639;
}

.page-link-right:hover {
    color: #028639;
    font-weight: 1000;
    font-size: x-large;
    box-shadow: -5px 10px #6c0286;
} */

.scroll {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.hidden {
    display: none;
}

.link-heading {
    align-self: center;
    font-size: xx-large;
}

.link {
    position: relative;
    color: #6c0286;
    font-weight: 700;
    text-decoration: none;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.08em;
    width: 100%;
    height: 0.08em;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(.77, 0, .18, 1);
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
